<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmpProject</display-name>
  <welcome-file-list>
    <welcome-file>emp2.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>p1.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>p1.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>p1.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmp</display-name>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>p1.UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
</web-app>